<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @clock_event.user %>
</p>

<p>
  <strong>Clock event type:</strong>
  <%= @clock_event.clock_event_type %>
</p>

<%= link_to 'Edit', edit_clock_event_path(@clock_event) %> |
<%= link_to 'Back', clock_events_path %>
